<div class="menu-container">
    <div class="profile-section">
        <img src="{{ member_data.profile.url }}" alt="Profile Image" class="profile-image">
        <p class="username">{{ member_data.username }}</p>
        <button id="openModal" class="new-event-btn">+ New Event</button>
    </div>

    <div class="menu-items">
        <a class="menu-item home-btt" href="{% url 'home' %}">
            <i class="fas fa-home"></i> Home
        </a>
        <a class="menu-item profile-btt active" href="{% url 'profile' %}">
            <i class="fas fa-user"></i> Profile
        </a>
        <a class="menu-item chat-btt" href="{% url 'chat' %}">
            <i class="fas fa-comment"></i> Chat
        </a>
        <!-- เพิ่ม My Activity -->
        <a class="menu-item activity-btt" href="{% url 'my_activity' %}">
            <i class="fas fa-calendar-alt"></i> My Activity
        </a>
    </div>

    <a href="{% url 'logout' %}" class="logout">
        Logout
    </a>
</div>
