<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    
    <link href="{% static 'css/css_registration\login.css' %}" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
   

</head>
<body>
    <div class="container">
        <div class="left">
            <h1 class="WELCOME-text">WELCOME TO VUP !</h1>
            <img src="{% static 'pic/login.png' %}" alt="Login Icon">
            <div class="WELCOME-under">
                <p>ค้นพบเพื่อนใหม่ สร้างประสบการณ์สุดประทับใจ ไปกิจกรรมที่คุณชอบ</p>
                <p>มาสร้างกิจกรรมกันเลยที่วีอัพ !</p>
            </div>
        </div>

        <div class="right">
            <h2 class="login-text">LOGIN</h2>

            {% if form.non_field_errors %}
            <div class="error-message">
                <p>{{ form.non_field_errors|first }}</p>
            </div>
            {% endif %}
        
    
            <form method="POST">
                <div class="login_box">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="forgot">
                        <a href="{% url 'reset_password'%}">ลืมรหัสผ่าน?</a>
                    </div>
                    <button type="submit" class="login-button">เข้าสู่ระบบ</button>
                </div>
            </form>
            <div class="register">
                <p>คุณยังไม่มีบัญชีผู้ใช้ใช่ไหม? <a href="{% url 'register' %}">ลงทะเบียน</a></p>
            </div>
        </div>
    </div>
</body>
</html>
