body {
    font-family: "Anuphan", sans-serif;
    background-image: url('/static/pic/bg10.png'); 
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
}

.reset-container {
    background: rgb(255, 255, 255);
    border: 1px solid #cccccc;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    animation: slideDown 0.8s ease-in-out forwards;
    margin-bottom: 30px;
    animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.head-info {
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 25px;
    font-weight: normal;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .head-info p {
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  .head-info strong {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    background-color: #389b9e; 
    margin-right: 10px; 
  }
  
  .icon-container i {
    color: white; 
    font-size: 18px; 
  }
  

.back-link {
    margin-left: 5px;
}

.back-link a {
    color: #7a7a7a;
    text-decoration: none;
    font-size: 14px;
}

.login-link {
    color: #555;
    text-align: center;
    margin-left: 5px;
    text-decoration: none;  
}

form {
    display: flex;
    flex-direction: column; 
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}

label {
    margin-right: 10px; 
    font-size: 16px;
}

input {
    width: 95%; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    margin-bottom: 10px;
}

form button {
    font-family: "Anuphan", sans-serif;
    padding: 12px 30px;
    background-color: #1a306b;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: block; 
    margin: 0 auto; 
}

form button:hover {
    background-color: #1236ac;
}