<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แชท</title>
    
    {% load static %}
    <link href="{% static 'css/css_member/chat/chat_list.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap" rel="stylesheet">
</head>

<body>

    <!-- เมนู -->
    <div class="menu-container">
        <div class="profile-section">
            <img src="{{ member_data.profile.url }}" alt="Profile Image" class="profile-image">
            <p class="username">{{ member_data.username }}</p>
            <!-- <button id="openModal" class="new-event-btn">+ New Event</button> -->
        </div>

        <div class="menu-items">
            <a class="menu-item home-btt " href="{% url 'feed' %}">
                <i class="fa-solid fa-earth-americas"></i>ฟีด
            </a>
            <a class="menu-item profile-btt " href="{% url 'profile' %}">
                <i class="fas fa-user"></i> โปรไฟล์
            </a>
            <a class="menu-item chat-btt active" href="{% url 'chat' %}">
                <i class="fas fa-comment"></i> แชท
            </a>
        </div>


        <a href="{% url 'logout' %}" class="logout">
            ออกจากระบบ
        </a>
    </div>

    <div class="outer-box">
        <div class="profile-header" style="display: inline-flex; align-items: center; gap: 8px;">
            <i class="fa-regular fa-comments"></i>
            <p class="my_profile_head" style="margin: 0;">แชท</p>
        </div>
               
        <!-- <div class="inner-box"> -->
                
            <div class="content-box">
                {% if chat_rooms %}
                    <div class="chat-rooms-list">
                        {% for chat_room in chat_rooms %}
                            <div class="chat-room" onclick="window.location.href='{% url 'chat_room' chat_room.id %}'">
                                <div class="chat-room-icon">
                                    {% if chat_room.event.category == 'การศึกษา' %}
                                        <i class="fas fa-book"></i>
                                    {% elif chat_room.event.category == 'กีฬา' %}
                                        <i class="fas fa-futbol"></i>
                                    {% elif chat_room.event.category == 'ท่องเที่ยว' %}
                                        <i class="fas fa-plane"></i>
                                    {% elif chat_room.event.category == 'อาหาร' %}
                                        <i class="fas fa-utensils"></i>
                                    {% elif chat_room.event.category == 'ศิลปะ' %}
                                        <i class="fas fa-palette"></i>
                                    {% elif chat_room.event.category == 'สุขภาพ' %}
                                        <i class="fas fa-heartbeat"></i>
                                    {% elif chat_room.event.category == 'ความบันเทิง' %}
                                        <i class="fas fa-music"></i>
                                    {% else %}
                                        <i class="fas fa-question-circle"></i>
                                    {% endif %}
                                </div>
                                <div class="chat-room-details">
                                    <p>
                                        <strong class="chat-room-name">ห้อง : {{ chat_room.name }}</strong>
                                        <span class="chat-room-count">(<i class="fa-solid fa-user"></i>{{ chat_room.member_count }})</span>
                                    </p>
            
                                    <div class="chat-room-details-tag">
                                        <div class="chat-room-details-tag-div">
                                            <p><i class="fa-solid fa-shapes"></i>: {{ chat_room.event.category }}</p> 
                                        </div>
                                        <div class="chat-room-details-tag-div">
                                            <p>
                                                <span class="chat-room-location"><i class="fa-solid fa-location-dot"></i>: {{ chat_room.event.location }}</span>
                                                <strong class="chat-room-province">,{{ chat_room.event.province }}</strong>
                                            </p>
                                        </div>
            
                                        <div class="chat-room-details-tag-div">
                                            <p><i class="fa-solid fa-calendar-days"></i>: {{ chat_room.event.event_datetime }}</p>
                                        </div>
                                    </div>
            
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p style="text-align: center; color: gray;">ไม่มีห้องแชทที่คุณเข้าร่วม</p>
                {% endif %}
            </div>
            
        <!-- </div> -->
    </div>
    
        <div>
            {% include 'member/notification.html' %}
        </div>

    
</body>
</html>
