.calendar-notification {
    width: 200px;
    height: 94vh;
    background-image: url('/static/pic/bg4.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 5px;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 40px 0 0 40px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    z-index: 1000;
}

/* สำหรับ Scroll Bar ของ Chrome และอื่นๆ */
.notification-content::-webkit-scrollbar {
    width: 1px;
}

.notification-content::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

.notification-content::-webkit-scrollbar-track {
    background-color: #f7f7f7;
}
.calendar-notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #1c2b4a; */
    padding: 20px;
    border-radius: 15px;
    width: 280px;
}

.calendar-container {
    padding: 5px;
    border-radius: 10px;
    width: 100%;
}

.calendar-container h1 {
    font-size: 15px;
    font-weight: bold;
    color: white;
    /* background-color: #1c2b4a; */
    display: flex;
}

.calendar-container h1 i {
    margin-right: 10px;
}

.calendar-box{
    background-color: #ffffff; 
    color: #000; 
    padding: 10px; 
    border-radius: 10px; 
}

  /* สไตล์สำหรับ Calendar Modal */
  .calendar-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
  
  .calendar-modal-content {
    font-size: 14px;
    color: #000;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    width: 40%;
    margin: 10% auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    text-align: left;
  }

  .calendar-modal-head {
    text-align: center;
    /* gap: 0; */
    margin: 0;
    font-size: 14px;
    font-weight: normal;
  }

  .calendar-modal-under {
    align-items: center;
    /* border: 1px solid #b9b8b8; */
    padding: 5px;
    /* margin: 5px 0; */
    border-radius: 10px; 
    background: none; 
    margin-top: 10px;
  }

  /* .calendar-event-detail-in{
    padding: 20px;
    border-radius: 5px; 
    margin-bottom: 10px;
  }  */




  .calendar-box-detail-head{
    border: 1px solid #b9b8b8;
    padding: 10px;
    border-radius: 10px; 
    /* background: #ffe6f1;  */
    margin-bottom: 15px;
    font-size: 14px;
  }

  .calendar-box-detail {
    background: #d1deeb; 
    display: inline-block;
    border: 1px solid #b9b8b8;
    padding: 0px 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 12px;
}

  
  .calendar-close {
    float: right;
    font-size: 24px;
    cursor: pointer;
  }
  
/* .calendar-content {
        background-color: #ffffff; 
        color: #000; 
        padding: 15px; 
        border-radius: 10px; 
        height: 150px;
} */

/* #calendar {
    width: 100%;
    height: 15px; 
    font-size: 8px;
    gap: 0;
    margin-bottom: 0;
    font-weight: bold;
} */

/* .fc {
    width: 100%; 
} */

/* .fc .fc-toolbar {
    justify-content: space-between; 
} */


/* ปรับแต่งพื้นหลังของปฏิทิน */
#calendar {
    /* max-width: 0%; */
    margin: auto;
    /* background: #ffffff; */
    /* padding: 15px; */
    /* border-radius: 10px; */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */



    width: 100%;
    /* height: 15px;  */
    font-size: 6px;
    /* gap: 0; */
    /* margin-bottom: 0; */
    /* font-weight: bold; */
  }
  
  /* กำหนดสีพื้นหลังของวันหยุดสุดสัปดาห์ */
  .fc-day-sat, .fc-day-sun {
    background-color: #f0f8ff;
  }
  
  /* ปรับสีตัวอักษรของปฏิทิน */
  .fc-toolbar-title {
    font-size: 10px;
    font-weight: bold;
    color: #333;
  }
  
  /* กำหนดสไตล์ของปุ่มเปลี่ยนมุมมอง */
  .fc-button {
    background: #4894a7 !important;
    color: #fff !important;
    border-radius: 5px !important;
    padding: 5px 5px !important;
  }
  
  .fc-button:hover {
    background: #274d75 !important;
  }
  
  /* ปรับขนาดตัวอักษรของวันที่ */
  .fc-daygrid-day-number {
    font-size: 10px;
    font-weight: normal;
  }
  

.notification-container {
    margin: 0;
    /* padding: 20px; */
    border-radius: 10px;
    /* margin-bottom: 10px; */
    width: 100%;
}
.notification-container h1 {
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 15px;
    text-align: left;
}

/* .notification-container p {
    font-size: 15px;
    color: #a0a0a0;
    margin-bottom: 10px;
    text-align: center;
} */

.notification-content {
    /* max-height: 100vh;  */
    overflow-y: auto;
    /* font-size: 12px; */
    /* color: #000000;   */
    /* text-align: center;  */
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* margin-bottom: 10px; */
    height: 250px;
    /* margin-top: 0; */
}
.message-noti ,.message-noti-system {
    display: flex; 
    align-items: center; 
    /* gap: 5px;  */
    text-align: justify;
    /* margin-bottom: 10px; */
    /* margin: 0; */
}

.message-noti i {
    font-size: 8px;
    color: #322969;
    margin-left: 5px;
}

.message-noti-system i{
    font-size: 14px;
    color: #6b6b6b;
    margin-left: 5px;
}



.notification-content ul li.unread {
    background: #ffffff;
    border: 1px solid #aaa9a9;
    /* font-weight: bold; */
    padding: 5px;
}

.no-notifications {
    /* text-align: center; */
    color: #888; 
    /* padding: 10px;  */
    /* border: 1px solid #ddd; */

}


.notification-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notification-content ul li {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    /* justify-content: space-between;  */
    background: #e6e5e5;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #b9b8b8;
}

.notification-content p {
    font-size: 12px;
    color: #000;
    margin: 0;
    margin-bottom: 5px;
}

.button-action-noti {
    display: flex;
    flex-direction: row; 
    gap: 10px; 
    justify-content: flex-start; 
    align-items: center; 
    margin-left: 20px;
}

.button-action-noti button {
    font-family:"Anuphan", sans-serif;
    padding: 4px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    /* cursor: pointer; */
    transition: background-color 0.3s ease;
}

.btn-yes {
    background-color: #2e7738; /* สีเขียว */
    color: white;
    cursor: pointer;
}

.btn-yes:hover {
    background-color: #3bbb42;
    transform: scale(1.05); 
}

.btn-no {
    background-color: #a53c34; /* สีแดง */
    color: white;
    cursor: pointer;
}

.btn-no:hover {
    background-color: #e53935;
    transform: scale(1.05); 
}

.btn-approved,
.btn-rejected {
    background-color: #9e9e9e; 
    color: white;
    opacity: 0.8;
    cursor: not-allowed;
}

.btn-chat{
    font-family:"Anuphan", sans-serif;
    padding: 5px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #342a88; 
    color: white;
    margin-left: 20px;

}

.btn-chat:hover {
    background-color: #231042;
}

.btn-join-chat {
    display: block; /* บังคับให้ปุ่มอยู่บรรทัดใหม่ */
    padding: 5px 5px;
    text-align: center;
    width: 60px;
    background-color: #4894a7; /* สีพื้นหลัง */
    color: white; /* สีตัวอักษร */
    text-decoration: none; /* เอาเส้นใต้ของลิงก์ออก */
    border-radius: 5px; /* มุมโค้งมน */
    font-size: 12px;
    /* font-weight: bold; */
    transition: background-color 0.3s ease;
    margin-top: 5px; 
}

.btn-join-chat:hover {
    background-color: #1a567e; 
}
a {
    text-decoration: none; 
    color: black; 
    font-weight: bold;
}




