body {
    font-family: 'Anuphan', sans-serif;
}

/* หัวข้อ */
h1 {
    font-size: 2.5rem;
    color: #a12626;
    margin-bottom: 20px;
}

/* ปุ่มย้อนกลับ */
.btn-back {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #f5f5f5; /* สีพื้นหลัง */
    color: #333; /* สีข้อความ */
    text-decoration: none; /* ลบเส้นใต้ */
    border: 1px solid #ccc; /* ขอบ */
    border-radius: 5px; /* มุมโค้ง */
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* เมื่อ Hover */
.btn-back:hover {
    background-color: #e0e0e0; /* เปลี่ยนสีพื้นหลังเมื่อ Hover */
    color: #000; /* เปลี่ยนสีข้อความเมื่อ Hover */
    cursor: pointer;
}

.outer-box {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #cc0d0d; 
    width: 50%; 
    margin: 0 auto; 
    border-radius: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-right: 29%;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* กล่องข้อมูลอีเวนต์ */
.event-info {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 90%;
    max-width: 500px;
    text-align: left;
}

.event-info p {
    margin: 10px 0;
    font-size: 1rem;
    color: #555;
}

.event-info strong {
    color: #333;
}

/* ฟอร์ม */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
}

form p {
    margin-bottom: 15px;
    color: #555;
}

form input, form textarea, form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 5px;
    background-color: #f9fafb;
}

form textarea {
    resize: vertical;
}

form button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #45a049;
}