
body,html{
    font-family:"Anuphan", sans-serif;
    /* background-color: #6b8cce; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; */
    background-image: url('/static/pic/bg10.png'); 
    /* background-image: url('/static/pic/VUP_final.png');  */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100%; 
}

.container {
    
    display: flex;
    width: 100%;
    height: 100%; 
    overflow: hidden; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    /* background-color: #1c2b4a; */
    /* background-image: url('/static/pic/bg4.jpg');  */
    /* background-size: cover;  */
    /* background-position: center;  */
    /* background-repeat: no-repeat;  */
    height: 100vh; 
}

.left {
    /* background-color: #0f0f0f; */
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    line-height: 0;
}

.left img {
    width: 350px; 
    margin-bottom: 5px; 
    transition: transform 0.3s ease;
}

.left img:hover {
    transform: scale(1.); 
}
.WELCOME-text {
    font-family: "Montserrat", sans-serif;
    /* font-family: "Lora", serif; */
    font-size: 30px;
    margin-bottom: 20px;
}

.WELCOME-under{
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    line-height: 5px;
}

.right {
    font-family:"Anuphan", sans-serif;
    background-color: white; 
    padding: 40px;
    width: 50%; 
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 70px 0px 0px 70px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.login-text {
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
    color: #000;
    margin-top: 100px;
}

.right input {
    width: 100%; 
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #b8b8b8;
    background-color: #eeeded; 
    font-size: 16px;
    transition: border-color 0.3s ease;

}

.right input:focus {
    border-color: #152270; 
    outline: none;
}

.forgot {
    text-align: right;
    width: 100%;
}

.forgot a {
    text-decoration: none;
    color: #808080;
    font-size: 14px;
}

.login_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-button {
    font-family:"Anuphan", sans-serif;
    width: 50%;
    padding: 15px;
    margin-top: 20px;
    background-color: #1c2b4a; 
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0f1027;
    cursor: pointer; 
    transform: scale(1.1);
}

.register {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.register a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

/* ข้อความข้อผิดพลาด */
.error-message {
    color: #ff4d4d; 
    background-color: #ffe6e6;
    border: 1px solid #ff4d4d; 
    border-radius: 5px; 
    padding: 10px; 
    margin-bottom: 15px; 
    font-size: 14px; 
    display: flex;
    align-items: center;
    gap: 10px;
    }

    .error-message p {
    margin: 0; 
    }

    .error-message::before {
    content: "⚠️"; 
    font-size: 16px; 
    }

    .errorlist.nonfield {
        list-style: none; 
        padding: 0;
        margin: 0;
    }
    
    .errorlist.nonfield li {
        display: none; 
    }
    
