style>
          
body,html{
    font-family:"Anuphan", sans-serif;
    background-color: #f0eeee;
    /* margin-left: 30%; */
}

.menu-container {
    width: 200px;
    background-image: url('/static/pic/bg4.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    color: white;
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0 40px 40px 0;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    border: 2px solid #d1d1d1;
    margin-top: 30px;
}

.username {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin: 0;
}


.menu-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; 
}

.menu-item {
    width: 80%; 
    margin-left: 10px;
    padding: 20px 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: background 0.3s;
    margin-bottom: 10px;
    border-radius: 25px 0 0 25px;
}


.menu-item.active {
    background-color: #ffffff;
    font-weight: bolder;
    color: #2b3f65;
    border-radius: 25px 0 0 25px;
}

.menu-item:hover {
    background-color: #f0eeee;
    color: #1c2b4a;
    font-weight: bold;
    border-radius: 25px 0 0 25px;
    text-align: center;
}

i {
    margin-right: 8px;
}

.profile-header {
    display: flex;
    align-items: center; /* จัดให้ไอเทมอยู่ตรงกลางในแนวตั้ง */
    /* gap: 0px;  */
    font-weight: bold;
    font-size: 18px;
}

.profile-header i {
    font-size: 20px; /* ปรับขนาดไอคอนตามที่ต้องการ */
}

.my_profile_head {
    margin: 0; /* เอา margin เริ่มต้นออกจาก p tag */
}


.logout {
    padding: 10px 25px;
    color: #ffffff;
    font-weight: normal;
    display: flex;
    align-items: center;
    border-radius: 20px;
    text-decoration: none; 
}

.logout:hover {
    background-color: #aa3129;
    color: white;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 0;
    text-decoration: none; 
}

.outer-box {
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff; 
    width: 50%; 
    min-height: 550px; /* ความสูงเริ่มต้น */
    height: auto; /* ขยายตามเนื้อหา */
    margin: 0 auto; 
    border-radius: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-right: 29%;
    margin-top: 30px;
    margin-bottom: 30px;
}


.content-box {
margin-top: 20px;
margin-bottom: 20px;
}


.chat-room {
    display: flex; /* ใช้ Flexbox เพื่อจัดวางรูปและข้อความ */
    align-items: center; /* จัดกึ่งกลางแนวตั้ง */
    padding: 5px;
    border: 1px solid #aaa9a9;
    /* background-color: #dbdbdb; */
    border-radius: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
    cursor: pointer;
    font-size: 13px;
}

.chat-room:hover {
    background-color: #c4c4c4;
}

.chat-room-icon {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 45px; 
    height: 45px; 
    border-radius: 50%; 
    background-color: #abd5f8;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
    margin-right: 15px; 
    margin-left: 15px;
}

.chat-room-icon i {
    font-size: 20px; /* ขนาดของไอคอน */
    color: #000000; 
    margin-left: 7px;
}

.chat-room-name {
    font-size: 14px;
    font-weight: bold; /* ทำให้ตัวหนา */
    color: #000000; /* สีเข้ม */
}

.chat-room-count {
    font-size: 12px;
    font-weight: normal;
    color: #3d3d3d; 
}

.chat-room-details-tag {
    display: flex; 
    gap: 5px;
    justify-content: flex-start; 
    align-items: center; 
    /* margin-top: -5px;  */
}

/* เพิ่มกรอบวงกลมให้แต่ละ div */

.chat-room-details-tag-div {
    background-color: #f9f9f9; 
    padding: 3px;
    border: 1px solid #ddd; /* ขอบ */
    border-radius: 20px; /* ทำให้เป็นวงกลม */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* เพิ่มเงา */
    /* min-width: 100px;  */
    /* min-height: 100px; */
    text-align: center;
    margin-bottom: 5px;
}

/* เพิ่มสไตล์สำหรับข้อความ */
.chat-room-location {
    color: #333;
    font-weight: bold;
}

.chat-room-province {
    color: #555;
    font-weight: normal;
}

.chat-room-details-tag-div p {
    margin: 0;
    font-size: 8px;
    margin-left: 2px;
    margin-right: 2px;
}
